{% extends "base.html" %} {% block title %}Sign Up {% endblock %}
{% block content %}
    {% if user.is_authenticated %}

    <br class="d-lg-none">
        <h3 style="color:#545775;">Welcome {{ user.username }}!</h3>

        <hr>

        <form action="{% url 'logout_account' %}" method="post" style="margin-bottom: 0px;">
        <p><a href="{% url 'password_change' %}">Change Password</a></p>
        <form action="{% url 'logout_account' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Log Out</button>
        </form>
        <form action="{% url 'delete_account' %}" method="post" style="margin-bottom: 0px;">
        <br>
        <form action="{% url 'delete_account' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary">Delete account</button>
        </form>
        <br>
        <form action="{% url 'public_account' %}" method="post">
            {% csrf_token %}
            <label>
                <input type="checkbox" name="enabled" onchange="this.form.submit()"
                       {% if public %}checked{% endif %}>
            Public profile
            </label>
        </form>



    {% else %}

    <h1>Log in to view your profile</h1>
    <br>
    <br>
    <br>
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
    <a href="{% url 'signup' %}"class="btn btn-secondary">Signup</a>



    {% endif %}

    <br>
    <br>

    <div class="grid_login">
        <div class="grid_login-1"></div>
        <div class="grid_login-3"></div>
        <div class="grid_login-2"></div>
    </div>

{% endblock %}


