{% extends "base.html" %} {% block title %}Editor {% endblock %}
{% block content %}

    <h3> Welcome, {{ user.username }} to the gamekeeper dashboard</h3>
    <h4> Active Mission</h4>
    {% if active_missions.all %}
        <table>
        <thead>
        <tr>
            <th>Mission</th>
            <th>In progress</th>
            <th>Completed</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for mission in active_missions %}
            <tr>
                <td>{{ mission.title }}</td>
                <td>{{ mission.in_progress_count }}</td>
                <td>{{ mission.finished_count }}</td>
                <td><a href="{% url 'edit_mission' mission.id %}">Edit Mission</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No Published Missions</p>
    {% endif %}
    <h4> Unpublished Missions</h4>
    {% if unpublished_missions.all %}
        <table>
        <thead>
        <tr>
            <th>Mission</th>
            <th>Edit</th>
            <th>Publish</th>
        </tr>
        </thead>
        <tbody>
        {% for mission in unpublished_missions %}
            <tr>
                <td>{{ mission.title }}</td>
                <td><a href="{% url 'edit_mission' mission.id %}">Edit Mission</a></td>
                <td><a href="{% url 'publish_mission' mission.id %}">Publish Mission</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No unpublished missions</p>
    {% endif %}

    <h4>Create New Missions</h4>
    <a href="{% url 'create_mission' %}">Create New</a>


{% endblock %}