{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="text-center w-100">
            <h1 class="display-4 fw-bold">Missions</h1>
            <p class="lead text-muted">Help learn through missions and quizzes to master sustainability knowledge.</p>
        </div>


        {% for mission in missions %}
            <div class="mission mission-{{ mission.rules.difficulty }}">
                <h5>{{ mission.title }}</h5>
                <p class="card-text small flex-grow-1">{{ mission.description }}</p>
                {% if mission.user_progress.0 %}
                    <label for="mission_progress">Mission progress:</label>
                    <progress id="mission_progress"
                              value={{ mission.user_progress.0.points_awarded }} max={{ mission.points }}> {{ mission.user_progress.0.points_awarded }}pts
                    </progress>
                {% else %}
                    <form action="{% url 'start_mission' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="mission_id" value="{{ mission.id }}">
                        <button class="btn btn-{{ mission.rules.difficulty }}  btn-sm mb-2 mt-auto">Start Mission
                        </button>
                    </form>
                {% endif %}

                <form action="{% url 'take_quiz' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="mission_id" value="{{ mission.id }}">
                    <button class="btn btn-{{ mission.rules.difficulty }} btn-sm ">Take Quiz</button>
                </form>


                <p class="aligned-right">points: {{ mission.points }}</p>
            </div>
        {% endfor %}
    </div>

    {% load static %}
    <link rel="stylesheet" href="{% static 'gamification/style.css' %}">
{% endblock %}

