{% extends "base.html"%} {% block title %}Home {% endblock %}
{% block content %} 

{% if user.is_authenticated %}
<h3> Welcome, {{user.username}}!</h3>

{% if request.user.role.get.type == "MANAGER"%}
    <h3>You are a Manager of this software</h3>
{% elif request.user.role.get.type == "GAMES_ADMIN"%}
    <h3>You are a Games Admin of this software</h3>
{% elif request.user.role.get.type == "PASSPORT_ADMIN"%}
    <h3>You are a Product Passport Admin of this software</h3>
{% endif %}



{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
<a href="{% url 'signup' %}">Signup</a>
{% endif %}

{% endblock %}

