
{% extends "base.html" %} {% block title %}Home {% endblock %}
{% load static %}
{% block content %}


        <div class="fullyinthecentre">
            {% if user.is_authenticated %}
                <h3> Welcome, {{ user.username }}!</h3>

                {% if request.user.role.type == "MANAGER" %}
                    <h3>You are a Manager of this software</h3>
                {% elif request.user.role.type == "GAMES_ADMIN" %}
                    <h3>You are a Games Admin of this software</h3>
                {% elif request.user.role.type == "PASSPORT_ADMIN" %}
                    <h3>You are a Product Passport Admin of this software</h3>
                {% endif %}


                <!--add passport creation features if admin-->
                {% if request.user.role.type == "PASSPORT_ADMIN" or  request.user.role.type == "MANAGER" %}
                    <br><br><br>
                    <h3>Passport Admin Panel </h3>
                    <p><a href="{% url 'create_passport' %}">Create Product Passport</a></p>
                    <p><a href="{% url 'create_node' %}">Create Node</a></p>
                    <p><a href="{% url 'create_ingredient' %}">Create Ingredient</a></p>
                {% endif %}

                <!-- add role admin feature for super users-->
                {% if request.user.is_superuser %}
                    <br><br><br>
                    <h3>Super User Panel </h3>
                    <p><a href="{% url 'edit_roles' %}">Edit User Roles</a></p>
                {% endif %}


            <!--main home page text goes here-->
            {% else %}
                <!--intro-->
                <h1 class="above-the-fold">Know your Impact</h1>
                <div class="transitioning-facts">
                    <h4>Your purchases make a difference</h4>
                    <h4>Coffee farmers often live just above the poverty line</h4>
                    <h4>The UK wastes ~9.5 million tonnes of food a year.<br>That's 79 thousand double decker buses.</h4>
                </div>
                <!--login section-->
                <p>You are not logged in</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Log In</a></button>
                <a href="{% url 'signup' %}" class="btn btn-secondary">Signup</a></button>
                <br>
                <br>
                <!--collage-->
                <div class="grid">
                    <div class="grid-1"></div>
                    <div class="grid-2"></div>
                    <div class="grid-3"></div>
                    <div class="grid-4"></div>
                    <div class="grid-5"></div>
                    <div class="grid-6"></div>
                </div>

                <!--CHANGE!-->
                <br>
                <br>
                <br>
                <br>
                <br>

                &nbsp

                <h2>Our mission is to inspire our world to change for the better. 
                We strive for social justice and environmental change and it starts with what we buy.</h2>

                <h3>27.6 million men, women and children are in forced labour</h3>
                <!----- <img src="/static/images/farmer.jpg">-->
                <p style = "text-align: left">No, that number is not exaggerated. 
                In 2022 the ILO (International Labour Organisation) records that this was the estimated number of individuals involved in forced labour. 
                These people bring around £177 billion (as of March 2026) into our economy every year. 
                Our tragic dependence on forced labour leaves us blissfully ignorant to some of the truly cruel industries that are seen across the world,
                namely in chocolate and coffee produce.</p>
                <p style = "text-align: left">Care to see how your purchases affect our people? Scan your first product and find out.</p>
                <a href="{% url 'Scanner' %}" class="btn btn-secondary">Scan now</a></button>


                <h3>30% of all climate change is caused by methane</h3>
                <!----- <img src="/static/images/melting_ice.jpg">-->
                <p style = "text-align: right">The IEA, also known as the International Energy Agency, 
                records that our second greatest cause for the rise in temperature is actual agricultural practice. 
                Most of this methane is caused by caring for animals and the waste that they give off. 
                These anthropogenic emissions are careless and are bringing our world into disrepair.</p>
                <p style = "text-align: right">Are you helping or hurting our world? Scan your products to find out.</p>
                <a href="{% url 'Scanner' %}" class="btn btn-secondary">Scan now</a></button>


            {% endif %}
        </div>

{% endblock %}

