@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
/*###################*/
/*general styling */
/*###################*/


body {
    /*dealing with the background image*/
    background-color:aliceblue;
    background-position: center;
    background-size: cover;
    /*backdrop-filter: blur(4px); - Removed due to causing navbar position issues*/
    /*dealing with default text*/
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.navbar {
    background-color: #90b494 !important /*to override the default*/;
}

.navbar-light {
    background-color: #90b494 !important;  
}

.fullyinthecentre {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 70vh;
}

.above-the-fold {
    font-family: "Arizonia", cursive;
    font-size: 8vw;
    color: #545775;
    padding: 5vh;
    /*padding top doesn't work, it extents the box*/
    margin-top: 10vh;
    

    /*blurred semi transparent background box for the main home page text*/
    background-color: rgba(144, 180, 148, 0.7); /*had to use rgba to specify transparency, use online converter*/
    border-radius: 30px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);

    /*animation*/
    transition: transform 0.25s ease-in-out;
}

.above-the-fold:hover {
    transform: scale(1.05);
    filter: brightness(105%);
}

.standouttext {
    background-color: rgba(191, 200, 173, 0.7); 
    border-radius: 30px;
    width: fit-content;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}


.privacypage {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    width: 50vw;
    margin: auto;
}

.privacybulletpoints {
    list-style-position: inside;
}

/*for the post login homepage time dependent greeting*/
#greeting-container {
    text-align: center;
    margin: 0vw 0vw;
    padding-bottom: 0px;
}

#greeting-text {
    font-family: 'Times New Roman', Times, serif;
    color: #545775;
    font-size: clamp(50px, 5vw, 100px);;
}

/*default heading styling*/
h1,h2,h3,h4 {
    margin: 5px 5px;
    padding: 10px 10px;
}






/*###################*/
/*animating cycling facts DO NOT TOUCH MY PRECIOUS HELD TOGETHER WITH HOPES AND DREAMS*/
/*###################*/

.transitioning-facts {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5vw !important;
    color: #BFC8AD;
    text-shadow: 2px 2px #261C15;
    position: relative;
    text-align: center;
    padding: 5vh;
    margin: 7vh 7vh;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;

    /*to counter-act the bug which occured when fully in the centre flex direction was set to column*/
    min-height: 1.5em;
    width:80vw;
}

.transitioning-facts h4 {
    width: 100%;
    opacity: 0;
    animation: transitioning-text 15s infinite;
    position: absolute;
    font-size: inherit;
}

.transitioning-facts h4:nth-child(1) {
    animation-delay: 0s;
}

.transitioning-facts h4:nth-child(2) {
    animation-delay: 5s;
}

.transitioning-facts h4:nth-child(3) {
    animation-delay: 10s;
}

@keyframes transitioning-text {
    5%, 30% {
    opacity: 1;  
  }
    31%, 100% {
    opacity: 0;  
  }
}




