{% extends "base.html" %}
{% block title %}Passport{% endblock %}

{% block content %}

    <form method="POST">
        {% csrf_token %}

        <!-- Product Evidence -->
        <h3>Links Product Evidence to the claims</h3>

        {{ evidence_claims_form.management_form }}
        <div id="evidence_claims_form">
            {% for form in evidence_claims_form %}
                <div class="form-row">
                    {{ form.as_p }}
                    <button type="button" class="remove-form">Remove</button>
                </div>
            {% endfor %}
        </div>
        <button type="button" class="add-form-btn" data-target="#evidence_claims_form"
                data-prefix="{{ evidence_claims_form.prefix }}">Add Evidence
        </button>

        <br><br>
        <button type="submit">Submit</button>

    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



    {% load static %}
    <script src="{% static 'passport/formset_controls.js' %}"></script>
    <link rel="stylesheet" href="{% static 'passport/edit_passport.css' %}">

    <script>
        setupFormset("#evidence_claims_form", "{{ evidence_claims_form.prefix }}", {{ evidence_claims_form.total_form_count }});
    </script>



{% endblock %}