{% extends "base.html" %} {% block title %}Scan {% endblock %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <body>
    <h1>{{ node.org_name }}</h1>
    <p>role: {{ node.role }}</p>
    <p>located in {{ node.city }} in {{ node.country }}</p>

    <div id="map" style="height: 500px;"></div>


    </body>

    </html>

    {% load static %}
    <script src="{% static 'passport/map.js' %}"></script>


     <script>
        // Pass the city and country for map.js
        const city = "{{ node.city }}";
        const country = "{{ node.country }}";


        // Lookup the location and add marker
        addLocation(city, country,"");
    </script>

{% endblock %}