{% extends "base.html" %} {% block title %}Passport {% endblock %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">

    <body>
    <h1>Passport for product: {{ passport_data.name }}</h1>
    <p>{{ passport_data.description }}</p>

    <!--table of ingredients-->
    <h2>Ingredients</h2>
    <ul>
        {% for ingredient in ingredients %}
            <li>{{ ingredient.rounded_proportion|floatformat:-2 }}% {{ ingredient.ingredient }} -
                origin {{ ingredient.origin_country }} </li>
        {% endfor %}

    </ul>

    <!--Product stage timeline-->
    <button type="button" class="collapsible">Stages</button>
    <div class="content">
        {% for stage in stages %}
            <button type="button" class="collapsible">{{ forloop.counter }}. {{ stage.stage_name }}</button>
            <div class="content">
                <p>{{ stage.date_start }} - {{ stage.date_start }}</p>
                <p>from <a href="{% url 'node_info_display' stage.from_node.node_id %}">{{ stage.from_node }}</a> to <a href="{% url 'node_info_display' stage.to_node.node_id %}">{{ stage.to_node }}</a> </p>
                <p>share {{ stage.value_share }}</p>
                <!--each claim for this stage-->
                {% for claim in stage.claims.all %}
                    <button type="button" class="collapsible">Claim: {{ claim.get_claim_type_display }}</button>
                    <div class="content">
                        <p>{{ claim.statement }}</p>
                        <ul>
                            <!--evidence for each claim-->
                            {% for link in claim.claim_evidence_links.all %}
                                {% if link.evidence.scope == "stage" %}
                                    <li>{{ link.evidence.issuer }} on {{ link.evidence.date }}
                                        - {{ link.evidence.summary }} </li>
                                {% endif %}
                            {% empty %}
                                <li>No evidence linked to this claim.</li>

                            {% endfor %}
                        </ul>
                    </div>
                {% empty %}
                    <p>No claims for this stage.</p>

                {% endfor %}

            </div>
        {% endfor %}
    </div>
    </body>
    </html>

    {% load static %}
    <script src="{% static 'passport/scripts.js' %}"></script>
    <link rel="stylesheet" href="{% static 'passport/style.css' %}">

{% endblock %}